
@{
    ViewBag.Title = "Macierz śladowania";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Macierz powiązania obszarowych efektów kształcenia z kierunkowymi efektami kształcenia</h2>

