@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>EASY_KRK</h1>
    <p class="lead">Zarządzanie przedmiotami i ich kategoriami nigdy nie było takie proste!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Zarządzaj przedmiotami</h2>
        <p>
            EASY_KRK daje Ci możliwość łatwego tworzenia, edycji i usuwania przedmiotów. 
            Dodatkowo możesz przypisywać kierunkowe efekty kształcenia do przedmiotów.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Zarządzaj kategoriami</h2>
        <p>EASY_KRK daje Ci możliwość łatwego tworzenia, edycji i usuwania kategorii przedmiotów
           na poszczególnych poziomach.</p>
    </div>
    <div class="col-md-4">
        <h2>Weryfikuj macierz śladowania</h2>
        <p> EASY_KRK daje Ci możliwość łatwej modyfikacji i weryfikacji macierzy powiązania obszarowych efektów kształcenia z kierunkowymi efektami kształcenia.
            Możesz swobodnie łączyć kierunkowe efekty kształcenia z ministerialnymi efektami kształcenia oraz sprawdzać, czy wszystkie obszary, do których należy kierunek zostały właściwie pokryte.
        </p>
    </div>
</div>