.cbox_hline {
    clear: both;
    width: 100%;
    background-color: #9f2e1c;
    font-size: 0px;
    line-height: 0px;
    height: 6px;
}

.main_page_title {
    background: transparent url(/images/h_bg.gif) no-repeat 0 0;
    height: 205px;
    background-position: right -140px top;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #565656;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.dodaj-przedmiot label {
    display: inline-block;
    width: 200px
}

.kurs-textbox{
    width:100px;
    height:24px;
}

.kurs-checkbox{
    width:15px;
    height:15px;
}

    .main-content {
    padding: 10px 10px 10px 30px;
    min-height:350px;
    }

    .clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
    .program-li {
        color: #9f2e1c;
    }
    .program-li:hover {
        color: #b63d29;
    }
    .program-li-selected{
        color: #701f12;
        font-weight:bold;
    }
    .program-li-selected:hover {
        color: #701f12;
        font-weight:bold;
    }

    .link{
        color: #b63d29;
    }
    .link:hover{
        color: #701f12;
        font-weight:bold;
    }


.wrapper {
  padding: 0px;
  max-width: 800px;
}

.table {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row-table {
  display: table-row;
  background: #f6f6f6;
}
.row-table:nth-of-type(odd) {
  background: #e9e9e9;
}
.row-table.header {
  font-weight: 900;
  color: #FDC996;
  background: #b63d29;
}
@media screen and (max-width: 580px) {
  .row-table {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

.cell-add-delete{
    width:135px; 
    text-align:center;
}

.btn-default{

}